body
{
    font-family:"Syne Tactile";
    background-color:#4DF078;
    color:#F0292E;
}

h1, h2, h3, h4, h5, h6
{
    font-family:"Shizuru";
    font-size:45pt;
}

header
{
    text-align:center;
}

#hero, footer
{
    color:#1DA1F0;
    background-color:#F0A541;
    text-align:center;
    padding:12px;
}

#hero img
{
    width:250px;
}

#bio
{
    font-size:25pt;
    text-align:center;
}

#Hobbies h2
{
    text-align:center;
}

#Hobbies ul
{
    font-size:20pt;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:2rem;
}

#Gallery
{
    font-size:25pt;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#Gallery ul
{
    color:rgb(0,0,0);
    font-size:20pt;
}

#Johnson h4
{
    text-align:center;
}

#Johnson div
{
    color:black;
    font-size:20pt;
    text-align:center;
}